<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <mapping class="persistence.PO.ClientPO"/>
        <mapping class="persistence.PO.ContractPO"/>
        <mapping class="persistence.PO.OptionPO"/>
        <mapping class="persistence.PO.TarifPO"/>

    </session-factory>
</hibernate-configuration>